@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.middle-header-fixed {
    top: 90px;
}

#header-baseline {
    display: none;
}

#header-title {
    line-height: 44px;
    color: #aaa;
}

.link-title {
    text-decoration: none !important;
}

.timeline-event {
    border-radius: 0px !important;
    border-width: 0 !important;
    color: white !important;
}

.blognews_summary {
    font-style: italic;
    font-weight: lighter;
}

.timeline-frame {
    border: 1px solid #ddd;
}

.sdrdis_timeline_graph {
    display: none;
    font-size: 0.8em;
}

@media screen and (min-width: 800px) {
    .timeline_category .timeline_category, .timeline_category .timeline_category_items {
        margin-left: 20px;
    }

    .timeline_date_range {
        display: inline-block;
        width: 200px;
    }

    .blognews_list .blognews_summary {
        margin-left: 210px;
    }
    
    .sdrdis_timeline_graph {
        display: block;
    }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: auto;
}



/* Bootstrap callouts (from http://cpratt.co/twitter-bootstrap-callout-css-styles/) */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}